- this.render("form/clean_input", locals)
  
.clearfix(class=klass)
  %label=label
  .input
    %input{name: name, tabindex:ti, value:value, type:type, id: locals.id}>
    :if locals.additionalText
      != locals.additionalText

    - if(errors){
    %span.help-inline
      - if(locals.errMsg){
      = locals.errMsg
      - }else{
      = errors.message          
      - }      
    - }
    :if locals.tip
      %span.help-block
        = locals.tip