:css
  .main ul.unstyled > li{
    color: #333;
    font-size:18px;
    line-height:24px;
  }

.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .container.main
      .row
        .span16
          %h1 Event Streams
          .vspace
          %p We're still in private Beta.  More details about event streams coming soon.
          %p In the meantime, check out our other <a href="/features">features.</a> This is the only blank page, promise!
          .vspace
      .vspace2
      