
.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .row
      .span16
        %h1
          Monitor All of Your Servers, Processes and Ports
          %small> From $49/mo for 4 servers
        
        %p
          %a(href="/easiest-server-monitoring") One-minute install        
          ,  100% SSL, monitors every <a href="/process-monitoring">process</a>: RAM, CPU, and open <a href="/port-monitoring"> ports</a>, automatically.
        %p Monitoring Linux in the Cloud and in the Colo.  <a href="/plans">Try it now</a> for 30 days free. No credit card required.
        .vspace
        %hr
        .row
          .span8
            %h2
              %b
                Every
                %a(href="/process-monitoring")> Process
            %p
              Just by installing the agent, you can easily search, graph and compare: processor and memory utilization, start &amp; end time, open ports, and custom events for <i>every process</i>, including ones that have
              %a(href="/process-monitoring#terminated")> terminated.
            .right(style="text-align:right")
              %a(href="/process-monitoring")> Learn more about Process Monitoring »
            .vspace2

          .span8
            %div(style="padding:0 0px")
              %h2
                %b
                  Every
                  %a(href="/port-monitoring")> Port
              %p
                List all the open ports on all of your machines, and see which processes opened them.  No configuration required -- you just <a href="/easiest-server-monitoring">install dxdt</a> and it all shows up, automatically.
                %br
                %br
            .right(style="text-align:right")
              %a(href="/port-monitoring")> Learn more about Port Monitoring »
        .row
          .span4
            %h2
              %b
                Every
                %a(href="/system-monitoring")> Machine
                
            %p
              Load Average, RAM,
              %br
              Disk Usage, Open Ports, Network Configuration,
              %br
              and more.
            .right(style="text-align:right")
              %a(href="/port-monitoring")> System Monitoring »
          .span4
            %h2
              %b
                Every
                %a(href="/event-streams")> Event
            %p
              Everything important becomes and event that you can monitor and turn into SMS &amp; email alerts.
            .right(style="text-align:right")
              %a(href="/event-streams")> Event Streams »
          .span8(style="text-align:center")
            .vspace2
            .vspace
            %a.btn.primary(href="/plans")
              %big
                %b
                  Start your 30-day FREE trial »
              %br
              No Credit Card required.
        .row
          .vspace
          .grayblock
            %h3 If you have any questions, please <a href="mailto:questions@dxdt.io">email us</a> or call (877) 250-4337
          .vspace