-
  this.crumbs = [["", "Features"], ["", "Pricing"], ["", "Contact"], ["", "Documentation"]]

.home
  .span16.top
    .container
      .row
        .span8
          / %h1.everything 
          /   Monitor, Alert, Graph, Resolve:
          /   %br
          /   Every Process. &nbsp;Every Port.
          /   %br
          /   Every
          /   %span.virtual> ( Virtual )
          /   Machine.
          / %h1.everything 
          /   Monitor Every Process,
          /   %br
          /    Port &amp;
          /    %span.virtual>
          /   Machine.
          /   %br
          /   %b No Configuration
          %h1.everything 
            %b
              Monitor Everything.
            %br
            No configuration.

        .span8
          %img(src="/bigdxdtwhite.png" height="100px")
          -#<iframe width="300" src="http://www.youtube.com/embed/ZB5-r9km_eQ?rel=0" frameborder="0" allowfullscreen></iframe>
          
  .body.container
    .container
      .row(style="margin-bottom:20px; text-align:center")
        .grayblock(style="padding:20px 20px 10px 20px")
          .row
            .span12        
              %h2 
                %a(href="/easiest-server-monitoring") One-minute install
                . 
                Start collecting data <b>before</b> there's a problem.
            .span3(style="text-align:center")
                %a.btn.primary(href="/plans")
                  %big
                    %b
                      30-day free trial »
                No Credit Card required.

    .container.main
      .vspace
      .row
        .span16
          .row
            .span4
              %h2 Every Process
              %p 
                %a(href="/process-monitoring")> Process monitoring
                 covers RAM, CPU, ports and more.
              %p
                %a(href="/process-monitoring#terminated")> Search old processes
                for root cause analysis.
            .span4
              %div(style="padding:0 0px")
                %h2 Every Port
                %p
                  %a(href="/port-monitoring")> Port Monitoring
                  tracks every hostname:port & process.
                %p See which process is listening to a port.
            .span4
              %h2 Every Machine
              %p
                %a(href="/system-monitoring")> System monitoring
                for Load Avg, Disk, RAM and more.
              %p Every page has an easy ssh link for the current machine.
            .span4
              %h2 Every Event
              %p
                The
                %a(href="/event-streams")> event-streams
                are "Twitter for servers".
              %p Add your own notes to any graph or server.
          .vspace2
      .row.call-to-action(style="text-align:center")
        .span4
          &nbsp;
        .span8
          %p
            We have the 
            %a(href="/easiest-server-monitoring")> easiest server monitoring
            in the world.
          %p One line in the terminal. That's it.
          %br
          %a.btn.error(href="/plans")
            %big
              %b
                Sign Up Now »
          %br
          &nbsp;No Credit Card required.
        .clear
      .vspace2