:css
  .main ul.unstyled > li{
    color: #333;
    font-size:18px;
    line-height:24px;
  }

.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .container.main
      .row
        .span16
          %h1 Thanks!
          %h2 We'll be in touch.
          %p To confirm, your email address is:
            %span.highlight> #{email}.
          %p If this isn't right, just <a href="/plans">sign up again</a>.
      .vspace2
      