-
  this.crumbs = [["", "Features"], ["", "Pricing"], ["", "Contact"], ["", "Documentation"]]

.app
.home
  .vspace
  .body.container
    .vspace
    .container.main
      .row        
        .span8
          .row
            .span8.plans
              %h1
                Plans
                %small> 100% SSL. 4 Week data retention.
              .row
                .span4
                  %h2
                    Small
                    .price> $49
                      .price= "/mo"
                  %p 
                    <b>4</b> Servers
                .span4
                  %h2
                    Medium
                    .price> $95
                      .price= "/mo"
                  %p
                    <b>8</b> Servers
              .vspace
              .row
                .span4
                  %h2
                    Large
                    .price> $195
                      .price= "/mo"
                  %p 
                    <b>18</b> Servers
                .span4
                  %h2
                    X-Large
                    .price> $495
                      .price= "/mo"
                  %p 
                    <b>50</b> Servers
          .row
            .vspace2
            .span8
              %div(style="padding:0 0px")
                %h2 Have more than 50 servers?
                %p
                  %a(href="mailto:custom@dxdt.io")> Email Us
                  for volume discounts.
        .span8
          %form(method="POST")
            %fieldset
              %legend
                Monitor Everything
                %br
                in One Minute
              .clearfix
                %label Email address
                .input
                  %input#email(name="email" tabindex=1)
              .clearfix
                %label Password
                .input
                  %input(type="password" name="password" tabindex=2)
              .clearfix
                %label
                  Cell Phone
                  %small>
                    %a(href="#" rel="twipsy" title='Used for SMS Alerts, Security and Account Information') (why?)
                .input
                  %input(placeholder="(555) 555-5555" name="cell" tabindex=3)
              .clearfix
                %label Plan
                .input
                  %select(tabindex=4)
                    %option Small
                    %option(selected=true) Medium
                    %option Large
                    %option X-Large
                    %option Custom
              .clearfix(style="margin-bottom:0px")
                %label
                  Terms Of Service
                .inputs
                  %ul.inputs-list
                    %li.input
                      %label
                        %input(type="checkbox" tabindex=5)>
                        I have read and agree to the
                        %a(href="/terms")> Terms of Service
              .actions(style="background:none;border:none;margin-top:0px")
                %button.btn.primary(type="submit" value="Create Account" tabindex=6)
                  %b Start FREE 30-Day Trial »                
                %br
                %br              
                %p
                  %span.label(style="font-size:14px")> Next:
                  Paste one line in your terminal.
        .clear

:javascript
  $(function(){
    $('#email').focus();
  })