:css
  .main ul > li{
    color: #333;
    font-size:18px;
    line-height:24px;
  }
  
  .main p{
    color:#444
  }

.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .container.main
      %h1
        Process Monitoring
        %small(style="color:#666")> 100% Automatic: No Configuration.
        
    
      .row
        .span8
          %h2
            For every process on the machine see:
          %ul
            %li Open 
              %a(href="/port-monitoring")>TCP Ports
            %li RAM & CPU Usage
            %li The command used to start the program
            %li When the process started, and ended
            %li
              %a(href="/event-stream")> Critical events
              and custom notes.
          %p
            Using dxdt is like having a searchable, graphed version of `top` that works across all of your machines. You can monitor your systems for performance problems, plan capacity, and
            %span.highlight> perform a root cause analysis faster and easier than anything else.
            <a href="/plans">Try dxdt</a> and see for yourself.
          .vspace2
          .row
            .span8(style="text-align:center")
                %a.btn.primary(href="/plans")
                  %big
                    %b
                      Start Your 30-day FREE trial »
                %br
                No Credit Card required.
          .vspace2
          %h2(id="terminated")
            Search Terminated Processes
          
          %p
            %a(href="http://en.wikipedia.org/wiki/Pgrep")>pgrep
            is a command-line tool that lets you find the pid for a currently running process by regular expression.
          %p With dxdt, you can use regular expressions to search through all your currently running processes and all processes that have terminated within the last 4 weeks.
          %p Click on the name of a process and you'll see its detailed performance history. You can drill down, compare, and annotate graphs for the <b>fastest</b> root cause analysis.
          
        .span8
          %h1 &nbsp;
          %img.pop(src="/process-monitoring.png" width="459px" height="507px")
          .vspace2
          %center
            This is just a placeholder image for now while we're in Beta.
            .vspace2
            .vspace
            %p
              <a href="/plans">Start collecting data now  »</a>
      .vspace