:css
  .main ul > li{
    color: #333;
    font-size:18px;
    line-height:36px;
    
  }
  
  .main p{
    color:#444
  }

.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .container.main
      %h1
        Server Monitoring
        %small(style="color:#666")>
          100% Automatic: No Configuration.
          %a(href="/easiest-server-monitoring")> One-minute install.
        
    
      .row
        .span8
          %h2 Load Avg &amp; Disk Usage
          %p Ensure your servers don't get overloaded by monitoring load average. Chart free space on disk to keep plenty of headroom to avoid disk full errors. You can also see how long each disk usage check takes to monitor disk latency.
          %h2 Server Processes
          %p
            See which processes are using the CPU and RAM, and quickly drill down into the
            %a(href="/process-monitoring")> detailed performance history
            of each process.
          
        .span8
          
          %h2 Networking
          %p
            See
            %a(href="/port-monitoring")> every open port
            for all your machines, their IP addresses and current configuration.
          %h2 Event Streams:
          %p 
            %a(href="/event-stream")> Event Streaming
            shows you what is happening at a high level, like Twitter for servers.
          .vspace2
          .row
            .span8(style="text-align:center")
                %a.btn.primary(href="/plans")
                  %big
                    %b
                      Start Your 30-day FREE trial »
                %br
                No Credit Card required.
          .vspace2
            

