body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
 /* font-weight:100;*/
}

h1, h2{
}

h3, h4,h5,h6{
/*   font-family: Courier New, monospace; */
}

.simpleFlot .lastupdated{
  margin-left: 2em;
}


.leftnav{
  a {
    display: block;
  }

  border-right: 1px solid lighten(@linkColor, 50);
  margin-right: -1px;
  .listing{
    margin-left: @gridGutterWidth * 2;
  }
  
  > .nav-category {
    margin-bottom: 24px;
    
    h3.active a:link, h3.active a:hover, h3.active a:visited{
      color: @linkColor;
    }

    > h3 {
      .ico {
        width: @gridGutterWidth * 2;
        float: left;
        font-size:24px;
      } 
    
      > a:link, > a {
        color:  @grayDark;
      }
    
      > a:hover {
        color: @linkColor;
      }
    }
  }
}

.listing.active{
  > a:link, > a{
    font-weight: bold;
    color: @grayDark;
  }
}

.listing {
  > a:link, > a{
    color: @gray;
  }
  
  > small.pid{
    color: @grayLight;
  }
}

.listing > a:hover{
  color: @linkColor;
}


.topbar{
  > h3{
   font-family: "Arial Black", sans-serif; font-weight:800; font-stretch:normal;
  }
  
  ul li a.skinny {
    padding-right: 0;
    padding-left: 0;
  }
}

@accentColor: desaturate(darken(#ea5e15, 18), 20%);
@accent2Color: #252;


input.stealth {
  border: none;
  color: inherit;
}

input.search {
  background:#fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V%2B0%2FAAAAWlBMVEUAAAAKCgoQEBAbGxs0NDQ8PDxCQkJLS0tVVVVaWlplZWVra2tzc3N8fHyEhISKioqTlJOdnZ2kpKSrq6uzs7O8vLzDw8PJycnT09Pb29vk5OTs7Ozy8vL%2B%2Fv6pDVpfAAAApElEQVQYlW3Q6w6DIAwF4KPOCzqtgjK5vf9rTkJlkow%2FkI8TWorwZyGfDI1ikq7AFfUsR%2BB44Azlr82%2BsWfcofOtvbGb72ccVsYzB0MgwahhMqrGJfzg%2FGHLSVupjON0FxKtZzuvnhISwOVNI7hPwq4xHC4YiZdNSFBXogZagFz65hINvTX60JanJKPVnStGNw3BVL0PBW4gFLmIfhVLaY%2FJP9YXv5clUU0tANQAAAAASUVORK5CYII%3D') no-repeat 5px center;
  padding-left: 30px;
  width: 180px;
}

.graph-options > ul li {
  line-height: 200%;
}

table.tcp-ports{
  td.host{
    padding-right: 0;
    text-align: right;
  }
  td.port{
    padding-left: 0;
    text-align: left;
  }
}

.topbar{
  //.box-shadow(0px 3px 10px rgba(200, 200, 200, 0.5);
  form {
    input.username, input.password{
      .columns(2);
      margin-left:10px;
      padding-left:1em;

      &:focus,
      &:focused {
        padding-left:1em; 
      }
    }
    
    a.login{
      .btn;
      margin-left:10px;
    }
  }
}

.app{
  border-top: 1px solid #FFF;
  //#gradient > .vertical(#242, #252);
  //#gradient > .vertical(@homeGradientStart, @homeGradientStop);
  background-color:@homeGradientStart;
  height:10px;
  margin-top:40px;  
}


@darkestGreen: #232;
@darkGreen: #383;

@merlotDark: #411;
@merlotLight: #944;

@hotGreen: #53D64B;
@hotGreenDark: darken(@hotGreen, 20%);

@brownStart: #BD4932;

@copper: spin(@blue,-165);


@homeGradientStart: @blue;
@homeGradientStop: saturate(darken(@homeGradientStart, 30%), 30%);

/*
@homeGradientStart: @darkGreen;
@homeGradientStop: saturate(darken(@homeGradientStart, 25%), 30%);*/

html {
  margin: 0;
  height: 100%;
}

.marketing, html{
  background-color: #fafafa;
  height: 100%;
  margin: 0;
  .topbar{
    border-bottom:1px solid white;
    .box-shadow(0 2px 20px rgba(0,0,0,0.9));
  }
}



.home{
  
  img.pop {
    .box-shadow(2px 2px 10px rgba(0,0,0,0.10))
  }

  > .body {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    overflow:hidden;
    .box-shadow(2px 2px 20px rgba(0,0,0,0.25))
  }
  
  > .body.rounded{
    .border-radius(10px);
  }
  
  > .body.rounded-bottom{
    .border-radius( 0 0 10px 10px);
  }
  
  p {
   // color: @grayDark;
    font-size: 18px;
    line-height: 24px;
  }
  
  .call-to-action .span8 p{
    color: @grayDark;
  }
  
  .top{
    margin-top:22px;
    border-top:1px solid #fff;
    #gradient > .vertical(@homeGradientStart, @homeGradientStop);
    height: 140px;
    padding-top: 40px;
    text-align:center;
    
    h1 {
      color: white;
      text-shadow: 0 -1px 1px rgba(0,0,0,.5);
      font-weight:normal;
      letter-spacing:1px;
    }
  }

  h1.everything{
    margin-top:10px;
    font-weight:normal;
    line-height:150%;
    .virtual{
      font-weight:normal;
    }
  }
  

  h2, h3, h4 {
    color: @grayDark;
    font-weight: normal;
  }
  
  .main {    
    h2 {
      margin-bottom: 10px;
    }
  }
}

.container.main.workspace{
  border-bottom:1px solid #ccc;
  padding:2*@gridGutterWidth 0;
  
  pre {
    #font > .monospace();
    color: #EAB542;
    background-color: black;
    padding: @gridGutterWidth;
    overflow: auto;
  }
}

.grayblock {
  background-color:#f0f0f0;
  width:940px;
  padding:@gridGutterWidth;
  color:@grayDark;
  border-bottom:1px solid #e5e5e5;
}

.vspace {
  height: @gridGutterWidth;
}

.vspace2 {
  height: 2 * @gridGutterWidth;
}

.server-list {
  font-size:150%;
  line-height:200%;
}

.inputs-list label:hover{
  cursor: pointer;
}

.plans .price{
  color:black;
  font-size:75%;
  display:inline;
}

::-moz-selection {
  background-color: #FFA;
  color: black;
}

/* Works in Safari */
::selection {
  background-color: #FFA;
  color: black;
}

.highlighter{
  background-color: #FFA;
  color: black;
}


