.fuck{
  color:#ff00ff;
}

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
 /* font-weight:100;*/
}

h3, h4,h5,h6{
/*   font-family: Courier New, monospace; */
}

.simpleFlot .lastupdated{
  margin-left: 2em;
}


