.row
  .span4.leftnav
    .nav-category
      %h3 
        .ico ♛
        %a(href="/") Staging
      .listing.active
        %a(href="/")> Servers
      .listing
        %a(href="/")> Urls
      .listing
        %a(href="/")> Notes
    .nav-category
      %h3
        .ico ♞
        %a(href="/") Web Server 1 
      .listing.active
        %a(href="/")> Processes
      .listing
        %a(href="/")> CPU
      .listing
        %a(href="/")> Memory
      .listing
        %a(href="/")> Disk
      .listing
        %a(href="/")> Network
      .listing
        %a(href="/")> Notes
  .span12
    %h1 Processes
    .row
      .span6(style="border-right:1px solid black; margin-right: -1px")
        %h2 Most Memory
      .span6
        %h2 Most CPU
    .row
      .span12.column
        %table.zebra-striped
          %thead
            %tr
              %th PID
              - columns = "lstart ucomm mem cpu rss vsz utime time".split(" ")
              - for(idx in columns){
              %th= columns[idx].toUpperCase()
              - }
          %tbody
            - for(pid in status.processes.lstart){
              status.processes.lstart[pid] = new Date(Date.parse(status.processes.lstart[pid])).toDateString()
            %tr
              %td= pid
              - for(idx in columns){
              %td
                - name = columns[idx]
                = (status.processes[name] && status.processes[name][pid])
              - }
            - }