.container.footer
  .vspace
  .row
    .span4.darker
      Got questions? <a href="mailto:questions@dxdt.io"> We're happy to help.</a> 
    .span8.shhhh(style="text-align:center")
      &copy; 2011 
      %a(href="http://xitive.com")>
        <b>X</b>itive Inc
    .span4.shhhh
      %a(href="/terms")>
        Terms of Service
      &nbsp;&nbsp;
      %a(href="/privacy")>
        Privacy Policy
.vspace