-
  this.crumbs = [["", "Features"], ["", "Pricing"], ["", "Contact"], ["", "Documentation"]]

.home
  .span16.top
    .container
      .row
        .span8
          / %h1.everything 
          /   Monitor, Alert, Graph, Resolve:
          /   %br
          /   Every Process. &nbsp;Every Port.
          /   %br
          /   Every
          /   %span.virtual> ( Virtual )
          /   Machine.
          %h1.everything 
            Monitor Every Process,
            %br
             Port &amp;
             %span.virtual>
            Machine.
            %br
            No Configuration

        .span8
          %img(src="/bigdxdtwhite.png" width="338px" height="141px")
  .body.container
    .container
      .row(style="margin-bottom:20px; text-align:center")
        .grayblock
          .row
            .span12        
              %h2 
                %a(href="/easiest-server-monitoring") One-minute install
                . 
                Start collecting data <b>before</b> there's a problem.
            .span3(style="text-align:center")
                %a.btn.primary(href="/plans")
                  %big
                    %b
                      30-day free trial »

    .container.main
      .row
        .span8
          .row
            .span8(style="border-bottom: 1px solid #f5f5f5; margin-bottom:10px;padding-bottom:10px; text-align:center")
              %h2 No Configuration
              %p
                We have the 
                %a(href="/easiest-server-monitoring")> easiest server monitoring
                install process in the world.
              %p Download & run a bash script on your server. That's it.
              %p Your API key is included in the script so there is nothing to configure.
            .clear
          .row
            .span4
              %h2 Every Process
              %p Monitor CPU, RAM and page faults per-process.
              %p 
                %a(href="/process-monitoring")> Process Monitoring
                is like graphing the ouptut of `top` from multiple machines.
              %p
                %a(href="/search-terminated-processes")> Search terminated processes
                to figure out why monit, upstart, god  or OOM is killing your process.

            .span4
              %div(style="padding:0 0px")
                %h2 Every Port
                %p List every open port across all of your machines at a glance.
                %p See which process is listening on a given port.
                %p
                  %a(href="/port-monitoring")> Port Monitoring
                  has the answers.
          .row(style="margin-top:10px")
            .span4
              %h2 Every Machine
              %p Monitor how the system is using RAM (processes, buffers, filesystem cache.)
              %p Network Configuration
              %p Load Average
              %p Disk Usage over time
            .span4
              %h2 Every Event
              %p We built Twitter for servers.  Search the unified event log for processes starting and stopping, memory getting gobbled up, ports opening and closing, and all the standard alerts.
              %p Annotate any graph or machine.
            
        .span8
          %h2 Debug Problems
            %small> 10x faster
          != this.render("example")