-
  this.crumbs = ["Staging", "Web Server 1", "Processes"]

.row
  .span4.leftnav
    .nav-category
      %h3 
        .ico ♛
        %a(href="/") Staging
      .listing.active
        %a(href="/")> Servers
      .listing
        %a(href="/")> Urls
      .listing
        %a(href="/")> Notes
    .nav-category
      %h3
        .ico ♞
        %a(href="/") Web Server 1 
      .listing.active
        %a(href="/")> Processes
      .listing
        %a(href="/")> CPU
      .listing
        %a(href="/")> Memory
      .listing
        %a(href="/")> Disk
      .listing
        %a(href="/")> Network
      .listing
        %a(href="/")> Notes
    .nav-category
      %h3
        .ico ♟
        %a(href="/") node
      .listing.active
        %a(href="/")> Statistics
      .listing
        %a(href="/")> Ports (4)
      .listing
        %a(href="/")> Alerts
      .listing
        %a(href="/")> Notes
  .span12
    .page-header(style="margin-bottom:3px;")
      %h1
        node
        %small.strong> PID: 42141 &nbsp; Started: Mon Sep 12 7:58 PM UTC
    .code(style="margin-bottom:17px")
      %input.stealth(style="width: 100%;" value="node /usr/local/bin/restartr -c lessc -a public/lesscss/bootstrap.less -a public/app.css public/lesscss/bootstrap.less public/lesscss/dxdt.less public/lesscss/forms.less public/lesscss/patterns.less public/lesscss/preboot.less public/lesscss/reset.less public/lesscss/scaffolding.less public/lesscss/tables.less public/lesscss/type.less")>
    .row
      .span12
        .graph(style="width:100%;height:300px;background-color:#666;color:white")
          zoom view
        .graph(style="width:100%;height:75px;background-color:#666;margin-top:20px;color:white")
          overview
      .graph-options.span4
        %h3
          Stats
        %ul.unstyled
          %li 
            %input(type="checkbox" checked=true)>
            Mem%
          %li 
            %input(type="checkbox" checked=true)>
            CPU%
          %li 
            %input(type="checkbox")>
            time
          %li 
            %input(type="checkbox")>
            utime
          %li 
            %input(type="checkbox")>
            rss
          %li 
            %input(type="checkbox")>
            vsz
      .graph-options.span4
        %h3 Annotate
        %ul.unstyled
          %li
            %input(type="checkbox" checked=true)>
            Process Notes
          %li
            %input(type="checkbox" checked=true)>
            Staging Notes
          %li
            %input(type="checkbox" checked=true)>
            Web Server 1 Notes
      .graph-options.span4
        %h3 Additional Stats
        %input.search(type="text" placeholder="server or environment stats")
    .row
      .span12
        %h2 Events
        .row
          .span4
            %h3 Wed Sep 14
          .span8
            .alert-message
              9:22 AM UTC Began listening to port 3000
        %hr
        .row
          .span4
            %h3 Mon Sep 12
          .span8
            .alert-message.success
              8:05 PM UTC CPU stayed below 80% for 2 Minutes
            .alert-message.error
              7:58 PM UTC CPU Exceeded 90%  for 2 Minutes
            .alert-message
              2:22 PM UTC Process Started

